<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Upload</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">EgShow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tiled images</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Upload</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="mt-5">Build a pyramid</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row new-question-form-block">
            <label for="loginInput" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="loginInput"
                       placeholder="Enter title" required>
            </div>
        </div>

        <div class="form-group row new-question-form-block">
            <label class="col-sm-2 form-label" for="imageUpload">Upload image</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="imageUpload" accept="image/*">
            </div>
        </div>
        <div class="form-group row new-question-form-block">
            <div class="col-sm-2 col-form-label"></div>
            <div class="col-sm-10">
                <button class="btn btn-outline-success" type="submit">Upload</button>
            </div>
        </div>
    </form>

</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">©Vladimir Kozlov 2022</span>
    </div>
</footer>
</body>
</html>
